@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #252627;
  --main-dark: #252627;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}

body{
  background: url(./bg.jpg);
  background-size:cover ;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}

.main {
 
  height: 92vh;
  display: flex;
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

#show_chat {
  display: none;
}

.main-chat-window {
  overflow-y: scroll;
}

.messages {
  display: flex;
  flex-direction: column;
}

.username {
  color: #2f80ec;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.messages {
  padding: 0.3em 1em;
  color: rgb(239, 250, 252);
  height: 83.5vh; 
  background-color: rgba(20, 23, 27, 0.85);
  overflow-y: scroll;
}

.message{
  display: flex;
  flex-direction: column;
}
.span_mess{
 margin: 0.2rem 0 ;
 border-radius: 5px;
 padding: 0.2rem;
 color:rgb(255, 255, 255);
 margin-left: 1rem;
 
}

.main_message_container {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.options{
  height: 80px;
  position: relative;
  
}
.main_message_container > input {
  height: 45px;
  width: 100%;
  flex: 1;
  font-size: 1.3rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.room {
  font-size: 2em;
  background-color: #3a4961;
}

.header_back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

@media (max-width: 700px) {
    body{
      background: url(./android-1.png);
      background-size:cover ;
    }           
    .message{
      background-color: rgba(20, 23, 27, 0.7);
    }
  #show_chat {
    display: flex;
  }

  .right_window {
    display: none;
  }

  .left_window {
    display: flex;
  }
}
